body {
   font-family: "Roboto",sans-serif;
   color: #212121;
   width: 1600px;
   height: 2349px;
   background: white
}
/* header и footer одинаков для обоих страниц */
 /* стилизация логотипа сайта */
.blue-logo-part {
   color: #2196f3;
}

.logo-link {
   text-decoration: none;
   color: #000;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 1.85em;
   letter-spacing: 0.03em;
}

/* стилизации ссылок навигации и контактов*/
.navigation-link {
   color: #212121;
   text-decoration: none;
   letter-spacing: 0.02em;
}
.contact-link {
   text-decoration: none;
   color: #757575;
   letter-spacing: 0.02em;
}
.navigation-link:hover,
.contact-link:hover {
   color: #2196f3;
}
/* оформление страницы studio */
/* Hero сайта */
.hero-part {
   background: #2f303a;
   height: 600px;
   }

   .hero-header {
   color: #fff;
   font-size: 3.14em;
   width: 696px;
   height: 120px;
   text-transform: uppercase;
   letter-spacing: 0.06em;
}
.hero-button {
   color: #fff;
   font-size: 1.14em;
   width: 200px;
   height: 50px;
   background: #2196f3;
   border-radius: 4px;
   border: 0;
}
.hero-button:hover {
   cursor: pointer;
   }
   /* Секция "особености работы" */
   /*  скрытый заголовок */
 .hidden-header {
   display: none;
   }
   .features-part-list-header {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.14em;
      letter-spacing: 0.03em;
   }
   .features-part-list-text {
     line-height: 1.71em;
     letter-spacing: 0.03em;
     color: #757575;
   }
   /* секция Чем мы занимаемся */
   .business-part-header {
      font-weight: bold;
     font-size: 2.57em;
     letter-spacing: 0.03em; 
     }
    
     /* секция Наша команда */
     .our-team-header {
      font-weight: bold;
      font-size: 2.25em;
      letter-spacing: 0.03em;
    }
    .our-team-list-item-header {
      font-weight: 500;
     font-size: 1.14em;
     letter-spacing: 0.03em;
     }
     .our-team-list-item-trade {
      font-size: 1.14em;
     letter-spacing: 0.03em;
     color: #757575;
     }
     /* секция подвал сайта */
    .footer-part {
       width:1600px;
       height: 252px;
       background-color: #2f303a ;
    }
    .logo-link-footer {
      text-decoration: none;
      color:white;
      font-family: "Raleway";
      font-weight: 700;
      font-size: 1.85em;
      letter-spacing: 0.03em;  
      }
      .address-list-item {
         font-style: normal;
         color: #FFFFFF;
      }
    .address-list-item-link {
       color: rgba(255, 255, 255, 0.6);
       font-style: normal;
       text-decoration: none;
       letter-spacing: 0.03em;
    }
    .address-list-item-link:hover {
       color: #2196f3;
    }
    /* оформление страницы portfolio */
    /* фильтр страницы portfolio */
    .filter-part-list-item {
    margin:6px;
    background-color: #f5f4fa;
    font-size: 1.14em;
    letter-spacing: 0.03em;
    line-height: 1.625em;
    border: 0;
    border-radius: 4px;
    }
    .filter-part-list-item:hover {
      background: #2196f3;
      color: #fff;
      box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.1);  
    }
    /* примеры страницы portfolio */
    .pattern-list-item-header {
      font-weight: bold;
      font-size: 1.125em;
      line-height: 2.25em;
      letter-spacing: 0.06em;
      color: #212121; 
    }
    .pattern-list-item-text {
      font-size: 1em;
      line-height: 1.875em;
      letter-spacing: 0.03em;
      color: #757575;
    }


